<p class="list-group-item list-group-item-action active" style="text-align: center"><b>اعضای تیم</b><br>
<div class="list-group" style="text-align: center; margin-right: 20%; margin-left: 20%;">
  <a href="https://github.com/AlirezaT99" target="blank" class="list-group-item list-group-item-action">علیرضا تاجمیرریاحی</a>
  <a href="https://github.com/parhamsaremi" target="blank" class="list-group-item list-group-item-action">پرهام صارمی</a>
  <a href="https://github.com/sepehrs1378" target="blank" class="list-group-item list-group-item-action">سپهر صفری</a>
</div>
